body {
  background: #ebebeb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #231f20;
  font-size: 15px;
  line-height: 24px;
  overflow-x: hidden;
}

input, textarea {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

input, select, a img {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.mobile1 {
  display: none!important;
}

.desktop1 {
  display: block;
}
  
.content-title {
  font-family: 'helveticaneue-medium';
  color: white;  
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .desktop1 {
    display: none !important;
  }
  .mobile1 {
    display: block !important;
  }
}

.header {
  background: #00aced;
  padding: 12px 0;
  min-height: 72px;
  position: relative;
  z-index: 1;
}

.header .row {
  display: flex;
}

.header .row .col {
  float: none;
}

.header .logo {  
  display: flex;
  align-items: center;
}

.header .add-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header .add-box img {
  border: 1px solid #fff;
}

.searchbox {
  padding: 0;
}

.searchbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchbox li {
  float: left;
  padding: 0 22px;
}

.searchbox a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: 'helveticaneue-medium';
  font-weight: normal;
}

.searchbox li span.glyphicon {
  display: none;
}

.searchform form {
  margin: 0;
}

.submenu .searchform {
  padding: 25px 10px;
}

.submenu ul li a {
  cursor: pointer;
}

.searchform input[type="text"] {
  padding: 5px 1%;
  float: left;
  border: 1px solid #8f8f8e;
  width: 81%;
  height: 43px;
  color: #333;
  font-size: 17px;
  font-weight: normal;
  font-family: 'helvetica-italic';
}

.btn-play-video {
  color: #00aced;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

@media (max-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header .logo a {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
  }

  .header .header-right {
    padding-right: 0;
    position: static;
  }

  .searchbox {
    display: block;
    position: static;    
  }  
  .searchbox ul {
    height: 100%;
    overflow: hidden;
    float: right;
    border-left: 1px solid transparent;
  }

  .searchbox li {
    height: 100%;
    padding: 0;
  }
  .searchbox li.link a {
    display: block;
    font-size: 0px;
    line-height: 0;
  }
  
  .searchbox li a span.glyphicon {   
    top: 0; 
    font-size: 16px;
    color: #fff;
    background: transparent;
    width: 50px;  
    height: 72px;  
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #72d0f5;
  }

  .searchbox a.active span.glyphicon {
    background: #808080;  
  }

  .searchbox li .submenu {
    background: #ade1f9;
    width: 100%;
    position: absolute;  
    left: 0px;
    border-top: 10px solid #808080;
  }

  .searchbox ul ul {
    float: none;
    height: 100%;
  }

  .searchbox li .submenu li {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    padding: 0 5%;    
    border-bottom: 1px solid white;
  }

  .searchbox li .submenu li:last-child {
    border-bottom: none;
  }

  .searchbox li .submenu li a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    height: auto;
    color: black;
    font-family: 'helvetica_ce_roman_regular';
  }
}

/* nav styles start */
nav.menu {
  background: #6d6f71;
  width: 100%;
  font-size: 15px;
  font-family: 'helveticaneue-medium';
  padding: 3px 0;
}

nav.menu ul {
  display: flex;
}

nav.menu li {  
  padding: 0 27px;
}

nav.menu li:first-child {
  padding-left: 0;
}

nav.menu li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

nav.menu li:last-child {
  padding-right: 0;
}
/* nav styles end */

/* social bar styles started */
#social-bar {
  font-family: 'helveticaneue-medium';
  font-size:15px;
  color: white;    
}

#social-bar .container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  background: #00aced;
}

#social-bar .description {
  display: flex;
  align-items: center;
}

#social-bar .social-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

#social-bar .btn-social {
  display: flex;
  color: #00aced;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: white;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  #social-bar .container {
    flex-direction: column;
  }

  #social-bar .social-container {
    margin-left: 0;
    justify-content: center;
  }
}
/* social bar styled ended */

/* section-one styles start */
#section-one .container {
  background-color: #00aced;
}

#section-one .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 378px
}

#section-one .search-dent-form {
  margin-bottom: 10px;
}

#section-one .content img {
  width: 100%;
  flex: 100%;
}

#section-one .content .description {
  font-size: 25px;
  background: #a9dfeb;
  line-height: 25px;
  padding: 6px 12px;
}

#section-one .content .description span {
  font-weight: bold;  
  text-decoration: underline;  
}

#section-one .search-dent-form {
  background-color: #e6e8e7;
  padding: 15px;
}

#section-one .search-dent-form h5 {
  background-color: #6d7174;
  color: white;
  border: 1px solid rgba(236, 26,35,0.5);
  border-radius: 5px;
  line-height: 1.2;
  font-size: 1em;
  padding: 6px 12px;
}

#section-one .search-dent-form .form-group {
  margin: 10px 0 0 0;
}

#section-one .search-dent-form label {
  padding-left: 12px;
}

#section-one .search-dent-form .btn-submit {
  margin-top: 10px;
  width: 100%;
}

#section-one .search-dent-form input::placeholder {
  font-style: italic;
}

@media screen and (max-width: 991px) {
  #section-one .content {
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  #section-one .container {
    padding-top: 10px;
  }
}
/* section-one styles end */

/* event logo styles start */
#event-logo-section {
  display: block;
  margin-top: 10px;
}

.view-all-div {
  display: flex;  
  width: 100%;    
}

.view-all-div .item {
  display: flex;
  flex-direction: column;
  padding: 7px 15px;  
  width: 33.33%;
}

.view-all-div .item .img-div {
  width: 100%;
  height: 150px;  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.view-all-div .item a {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  margin-top: 8px;
}
/* event logo styles end */

/* search dentevents tv style start */
#search-dentevent-tv {
  margin-top: 30px;
  padding-bottom: 15px;
}

#search-dentevent-tv .event-container{
  background: #6c6f73;
  padding: 10px 10px 0 10px;
  display: flex;
}

#search-dentevent-tv label {
  color: white;
}
#search-dentevent-tv .event-container .row {
  flex: 1 1 100%;
}
#search-dentevent-tv .event-container .search-btn-div {
  flex: 1 1 50px;  
  padding-left: 10px;
  padding-top: 58px;
}

#search-dentevent-tv .event-container .search-btn-div .btn-event-search{
  border: none;
  outline: none;
  color: black;
  font-size: 25px;
  background: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 639px) {
  #search-dentevent-tv .event-container {
    flex-direction: column;
  }

  #search-dentevent-tv .event-container .search-btn-div {
    padding: 0;
    display: flex;    
    justify-content: flex-end;
  }

  #search-dentevent-tv .event-container .search-btn-div .btn-event-search {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  #search-dentevent-tv .event-container .col-xs-6 {
    width:100%;
  }
  #search-dentevent-tv .event-container .search-btn-div .btn-event-search {
    width: 100%;
  }
}


/* footer styles start */
#footer {
  width: 100%;
  float: left;  
  background: #00aced;
  padding-bottom: 20px;
  margin-top: 22px;
}

.footer-link {
  width: 100%;
  padding: 20px 0;
}

.footer-link ul {
  list-style: none;
  float: none;
  margin: 0;
  padding: 0;
}

.footer-link li {
  float: left;
  padding: 0 15px 0 12px;  
  position: relative;
}

.footer-link li:first-child {
  background: none;
  padding-left: 0px;
}

.footer-link li:before {
  position: absolute;
  right: 0;
  content: "";
  width: 1px;
  height: 16px;
  border-left: 1px solid white;
  border-right: 1px solid #66bbdd;
  top: 50%;
  transform: translateY(-50%);
}

.footer-link li:last-child:before {
  display: none;
}

.footer-link li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
}

#footer .copyright {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  display: block;
}
/* footer styled end */